*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --color-background: #fff5f0;
  --color-black-grey: rgb(51, 51, 51);
  --color-black: rgb(0, 0, 0);
  --color-orange: rgb(255, 163, 114);
  --color-white: #fff;

  --container-width-lg: 88%;
  --container-width-md: 90%;

  --transition: all 500ms ease-in-out;
}

body {
  background: var(--color-background);
  line-height: 1.2;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-black-grey);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

Image {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 7rem;
}

p {
  font-size: 1.2rem;
}

small {
  font-size: 1rem;
}
